* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .ar-btn{
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kontenfooter{
    display: flex;
    justify-content: center;
  }